html,
body{
    height: 100%;
}


html 
body{
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif, "Play";
    font-family: 'Play', sans-serif;
    line-height: 1,42;
    -webkit-font-smoothing: analiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative; 
    color:#666666;
}

.wrapper{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

}
.container {
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    position: relative;
}

ul {
    padding: 0;
    margin: 0;
    li {
    list-style: none;
  
    }
  }

  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
  }

  p{ 
      padding: 0;
      margin: 0;

  }
  table {
      border-collapse: collapse;
  }
  a {
      color: inherit;
      text-decoration: none;
  }
  footer{
      display: block;
      max-width: 100%;
      
  }
