@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,700;1,800;1,900&family=Play:wght@400;700&display=swap");
html,
body {
  height: 100%;
}

html body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif, "Play";
  font-family: "Play", sans-serif;
  line-height: 1, 42;
  -webkit-font-smoothing: analiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(../imgbeats/Ellipse5.png) right 24% top 22%;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #292929;
}

.hero_title-section {
  width: 45%;
}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 97 0 70;
}

.hero__main--title {
  font-family: "Play";
  font-style: normal;
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 2.8888888889rem;
  margin-bottom: 0.8333333333rem;
}

.hero__title--desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2rem;
  padding-right: 10%;
  max-width: 100%;
}

.header {
  display: flex;
  font-family: Alegreya Sans;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  margin-top: 1.9444444444rem;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone_number_icon_elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}

.logo {
  margin-right: 2.1111111111rem;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.4444444444rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 6.3333333333rem;
}

.btn {
  padding: 1rem 2.2222222222rem;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  margin-bottom: 3.8888888889rem;
}
.btn.btn__theme--red {
  background: #E01F3D;
  color: #FFFFFF;
}
.btn.btn__theme--red:hover {
  background: #FFFFFF;
  color: #E01F3D;
  transition: 0.2s;
}
.btn.btn__theme--transparent {
  background: transparent;
  color: #FFFFFF;
  text-transform: none;
}
.btn.btn__theme--transparent:hover {
  color: #E01F3D;
  transition: 0.2s;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  margin: 0 3.0555555556rem;
  position: relative;
}
.benefits__item:before {
  content: url(../imgbeats/Combinedshape.png);
  position: absolute;
  top: 20%;
  right: -20%;
  transform: translate(50%);
}
.benefits__item:first-child {
  margin-left: 0;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item:last-child:before {
  content: "";
}

.benefits__section:before {
  content: url(../imgbeats/vector2.png);
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
.benefits__section:before:last-child {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image--wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  overflow: hidden;
  border-radius: 50%;
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #292929;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
  color: #292929;
}

.headline__subtitle {
  text-align: center;
  margin-bottom: 3.4444444444rem;
  padding: 0 20%;
}

.feedback__display {
  background: #F8FAF9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 1.6666666667rem;
}
.feedback__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 3rem;
}

.feedback__display--inner {
  display: flex;
}

.feedback__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
  margin-right: 2.2222222222rem;
}

.feedback__avatar_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.feedback__content {
  flex: 1;
  margin-right: 1.1111111111rem;
}

.feedback__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: black;
}

.feedback__text {
  margin-bottom: 2.1111111111rem;
  color: #666666;
}

.feedback__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.interactive__avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  overflow: hidden;
  position: relative;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.interactive__avatar--active {
  border-color: #E01F3D;
}

.intaractive__avatar-img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback__switcher {
  display: flex;
  text-align: center;
  justify-content: center;
}

.intaractive__avatar-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.order__section {
  background-color: #181818;
  color: #ffffff;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2777777778rem;
}
.form__input_textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.radio_checkbox .radio_visible {
  border-radius: 0.1111111111rem;
}
.radio_checkbox .radio_visible:before {
  background: url("../imgbeats/galochka.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio_visible:before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 35%;
  right: 4%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 1%;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1666666667rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: translate(-50%, -50%);
}