.benefits{
display: flex;

@include phones {
    flex-direction: column;
    justify-content: center;
      }
}
.benefits__item{
 flex: 1;
 margin: 0 rem(55px); 
 position: relative;
 @include phones {
     padding: 0;
     margin-bottom:  rem(31px);
     margin-right: 0;
     margin-left: 0;

 }

 &:before
 { @include tablets {
    display: none;
  }
 content: url(../imgbeats/Combinedshape.png);
position: absolute;
top: 20%;
right: -20%;
transform: translate(50%)
 }
 &:first-child{
     margin-left: 0;
 }  
 &:last-child{
     &:before{
        content: "";
     }
     margin-right: 0;
     
 }
}
.benefits__section:before{
content: url(../imgbeats/vector2.png);
position: absolute;
bottom: rem(-80px);
left: 0; 
&:last-child{
display: none;} 
}