.benefits{
display: flex;
}
.benefits_item{
 flex: 1;
 margin: 0 10%; 
 position: relative;

 &:before{
 content: url(../imgbeats/Combinedshape.png);
position: absolute;
top: 20%;
right: -50%;
transform: translate(50%)
 }
 &:first-child{
     margin-left: 0;
 }  
 &:last-child{
     margin-right: 0;
content: url(../imgbeats/Combinedshape.png) hidden ;
 }
}
.benefits_section:before{
content: url(../imgbeats/vector2.png);
position: absolute;
bottom: -80px;
left: 0; 
&:last-child{
display: none;} 
}