.benefits{
display: flex;
}
.benefits_item{
 flex: 1;
 margin: 0 3%; 

 &:before{
 content: url(../imgbeats/Combinedshape.png);
position: absolute;
top: 30px;
right: 0;
transform: translate(50%)
 }
 &:first-child{
     margin-left: 0;
 }  
 &:last-child{
     margin-right: 0;
 }
}
.benefits_section:before{
content: url(../imgbeats/vector2.png);
position: absolute;
bottom: -80px;
left: 0;  
}