.btn {
  padding: rem(17px) rem(39px);
  color: #FFFFFF;
  font-weight: bold;
  font-size: rem(14px);
  display: inline-block;
  text-transform: uppercase;
  border-radius: rem(100px);
}

.btn_theme_red {
  background: #E01F3D;
  transition: 0.2s;
}