.btn {
   
    padding: rem(18px) rem(40px);
    font-weight: bold;
    font-size: rem(18px);     
    text-transform: uppercase;  
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border: none;
    margin-bottom: rem(70px);
  
  &.btn__theme--red {
    background: $red;
    color: #FFFFFF;
    &:hover {
        background: #FFFFFF; 
        color: $red;
        transition: 0.2s;
    }
}

&.btn__theme--transparent {
    background: transparent;
    color: #FFFFFF;
    text-transform: none;
    &:hover {
        color: $red;
        transition: 0.2s;
    }
   
}
  }