.btn {
   
    padding: 17px 39px;
    font-weight: bold;
    font-size: 18px;     
    text-transform: uppercase;  
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    border: none;
  
  &.btn_theme_red {
    background: $red;
    color: #FFFFFF;
    &:hover {
        background: #FFFFFF; 
        color: $red;
        transition: 0.2s;
    }
}

&.btn_theme_transparent {
    background: transparent;
    color: #FFFFFF;
    text-transform: none;
    &:hover {
        color: $red;
        transition: 0.2s;
    }
   
}
  }