.feedback__display{
    background:#F8FAF9;
padding: rem(50px) rem(45px) rem(34px);
margin-bottom: rem(30px);
@include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: rem(32px);
}

&:before{
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
background: #ffffff;
border-radius: 50%;
position: absolute;
left: 50%;
transform: translate(-50%);
top: rem(54px);
}
}

.feedback__display--inner{
display: flex;
@include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
}

.feedback__avatar{
    width: rem(253px);
    height: rem(264px);
    margin-right: rem(40px);
    @include tablets{
        width: rem(130px);
        height: rem(130px);
        margin-bottom: rem(32px);
    }
}
.feedback__avatar_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.feedback__content{
    flex: 1;
    margin-right: rem(20px);
}
 .feedback__title{
     font-size: rem(30px);
     font-weight: bold;
     margin-bottom: rem(27px);
     color: black;
 }
 .feedback__text{
     margin-bottom: rem(38px);
     color: #666666;
 }

 .feedback__author{
     font-size: rem(18px);
     font-weight: bold;
color:black;
 }