.hero{
    background: url(../imgbeats/Ellipse5.png) right 24% top 34%;
    background-color: $grey;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: rem(650px);
    color: #292929;
    }

  
    .hero_title-section{
        width: 45%;
    }
    .hero_container{
        display: flex;
        flex-direction: column;
       justify-content: flex-start;
      height: 100%;  
      padding: 97 0 70;

    }
    .hero__main--title{
        font-family: "Play";
        font-style: normal;
        font-weight: bold;
        font-size: rem(48px);
        line-height: rem(52px);
        margin-bottom: rem(15px);
    }
    .hero__title--desc{
        font-size: rem(21px);
        margin-bottom: rem(36px);
       padding-right: 10%;
       max-width: 100%;
    }

