.hero{
    background-color: $grey;    
    height: 100vh;
    min-height: rem(650px);
    color: #292929;
    
    }

    .hero__icons-section{
        @include tablets {
            display: none;
        }
    }


    .hero__title-section{
        width: 45%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &:before{
            content: url(../imgbeats/Ellipse5.png);
        }
    }

    }


    .hero_container{
        display: flex;
        flex-direction: column;
       justify-content: flex-start;
      height: 100%;  
      padding: 97 0 70;    
      background: url(../imgbeats/Ellipse5.png) right top 24%;
      background-repeat: no-repeat;
      @include tablets {
        background: none;
    }

    }
    .hero__main--title{
        font-family: "Play";
        font-style: normal;
        font-weight: bold;
        font-size: rem(48px);
        line-height: rem(52px);
        margin-bottom: rem(15px);
    }
    .hero__title--desc{
        font-size: rem(21px);
        margin-bottom: rem(36px);
       padding-right: 10%;
       max-width: 100%;
       
       @include tablets{
           padding: 0 25%;
       }
    }

