.interactive__avatar{
    width: rem(74px);
    height: rem(74px);
overflow: hidden;
position: relative;
border: rem(6px) solid transparent;
border-radius: 50%;

&--active{
    border-color: $red;
}
}

.intaractive__avatar-img{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.feedback__switcher{
    display: flex;
text-align: center;
justify-content: center;

}

.intaractive__avatar-link{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    display: block;
}
