.interactive_avatar{
    width: 74px;
    height: 74px;
overflow: hidden;
position: relative;
border: 6px solid transparent;
border-radius: 50%;
position: relative;
overflow: hidden;
&_active{
    border-color: $red;
}
}

.intaractive_avatar_img{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.feedback_switcher{
    display: flex;
text-align: center;

}

.intaractive_avater_link{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    display: block;
}
