.radio{
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-bottom:rem(18px);
    margin-right: rem(18px);

    &_checkbox{
        .radio_visible{
            border-radius: rem(2px);
            &:before{
                background:url("../imgbeats/galochka.png") center center no-repeat;
            }
        }
    }
}

.radio__elem{
  display: none; 
  
  &:checked ~ .radio_visible{
     &:before{
    display: block;
    }
  }
}

.radio__visible{
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #ffffff;
    margin-right: rem(10px);
    
    &:before{
        content: "";
        width: rem(14px);
height: rem(14px);
background:$red;
border-radius: 50%;
position: absolute;
display: none;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

    }
}