.size {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  position: relative;
}

.size__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  transform: rotate(270deg);
  position: absolute;
  bottom: 177px;
  white-space: nowrap;
}

.size__desciption {
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}